@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Christos Ltd</h1>
    <h2 class="display-8">Your one stop shop for all things Identity and Cloud</h2>
    <p>Learn about <a href="cmatskas.com">security, identity, cloud and software with me</a>.</p>
</div>
